<section class="faq-banner">
  <div class="container">
    <div class="faq-banner-header">
      <h1 class="faq-banner-title">Питання-Відповіді</h1>
      <p class="faq-banner-breadscrumb">
        <a class="faq-breadscrumb-link" href="../../index.html">
          <svg class="faq-breadscrumb-icon" width="24" height="24">
            <use href="../../img/sprite.svg#icon-home"></use>
          </svg>
        </a>
        <span>/</span>
        <span class="faq-breadscrumb-text">Питання-Відповідь</span>
      </p>
    </div>
  </div>
</section>
<section class="faq-box">
  <div class="container">
    <ul class="faq-list">
      <script type="module" src="../../js/faq.js"></script>
    </ul>
  </div>
</section>
