<section class="contacts-section">
  <div class="contacts-container container">

    <p class="contacts-title">Get in touch</p>
    <address class="contacts-address" id="contacts">
      <!-- //? Contacts -->
      <ul class="contacts-list">

        <li class="contacts-list-item">
          <a href="" class="contacts-link-btn">
            <svg class="contacts-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-Whatsapp"></use>
            </svg>
          </a>
          <div class="contacts-desc">
            <h3>WhatsApp</h3>
            <a href="">t.me/...</a>
          </div>
        </li>

        <li class="contacts-list-item">
          <a href="" class="contacts-link-btn">
            <svg class="contacts-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-Viber"></use>
            </svg>
          </a>
          <div class="contacts-desc">
            <h3>Viber</h3>
            <a href="">t.me/...</a>
          </div>
        </li>

        <li class="contacts-list-item">
          <a href="" class="contacts-link-btn">
            <svg class="contacts-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-Telegram"></use>
            </svg>
          </a>
          <div class="contacts-desc">
            <h3>Telegram</h3>
            <a href="">t.me/...</a>
          </div>
        </li>

        <li class="contacts-list-item">
          <a href="mailto:test@example.com" class="contacts-link-btn">
            <svg class="contacts-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-Mail"></use>
            </svg>
          </a>
          <div class="contacts-desc">
            <h3>Email</h3>
            <a href="mailto:test@example.com">test@example.com</a>
          </div>
        </li>

        <li class="contacts-list-item">
          <a href="tel:+380 000 00 00" class="contacts-link-btn">
            <svg class="contacts-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-Phone"></use>
            </svg>
          </a>
          <div class="contacts-desc">
            <h3>Letʼs talk</h3>
            <a href="tel:+380 000 00 00">+ 380 000 00 00</a>
          </div>
        </li>
      </ul>
      <!-- //? Address -->
    </address>
    <!-- //? Form -->
    <form action="" class="contacts-form-container">
      <div class="form-input-item">
        <label for="user-name" class="form-label"></label>
        <input class="form-input" type="name" name="user-name" id="user-name" placeholder="Name" required>
      </div>
      <div class="form-input-item">
        <label for="user-email" class="form-label"></label>
        <input class="form-input" type="email" name="user-email" id="user-email" placeholder="Email" required>
      </div>
      <div class="form-input-item">
        <label for="user-tel" class="form-label"></label>
        <input class="form-input" type="tel" name="user-tel" id="user-tel" placeholder="Contact" required>
      </div>
      <div class="form-input-item">
        <label for="user-comment" class="form-label"></label>
        <textarea name="user-comment" id="user-comment" placeholder="Message" class=""></textarea>
      </div>

      <div class="recaptcha-container"></div>

      <button class="contacts-button" type="submit">Підтвердити</button>

    </form>

  </div>
</section>