<section class="section">
  <div class="container">
    <h2 class="about-title">Про мене</h2>
    <div class="about">
      <div class="about-image">
        <picture>
          <source
            srcset="../img/about/About.jpg 1x, ../img/about/About@2x.jpg 2x"
          />
          <img src="../img/about/About.jpg" alt="Photo" />
        </picture>
      </div>
      <div class="about-content">
        <ul class="about-list">
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">
              Сертифікований тренер з міжнародним досвідом!
            </p>
          </li>
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">Понад 15 років професійної діяльності!</p>
          </li>
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">
              Більше 100 учнів з усіх куточків світу, що отримали якісне
              покращення своєї гри!
            </p>
          </li>
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">
              Вільно володію українською, англійською та російською мовами
            </p>
          </li>
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">Пройшов навчання у кращих тренерів України</p>
          </li>
          <li class="about-list-item">
            <div class="about-icon-container">
              <svg class="" width="33" height="28">
                <use href="../img/sprite.svg#icon-Check"></use>
              </svg>
            </div>
            <p class="about-text">
              Власна методика ефективного тренування , що дає відчутні
              результати вже після першого місяця занять!
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-statistics">
      <div class="stat-item">
        <div class="stat-number">15+</div>
        <div class="stat-label">Років досвіду</div>
      </div>
      <div class="stat-item">
        <div class="stat-number">100+</div>
        <div class="stat-label">Учнів з усього світу</div>
      </div>
      <div class="stat-item">
        <div class="stat-number">17,000+</div>
        <div class="stat-label">Годин практики</div>
      </div>
      <div class="stat-item">
        <div class="stat-number">50,000+</div>
        <div class="stat-label">Зіграних партій</div>
      </div>
    </div>
    <button class="btn" type="submit">Задати питання тренеру</button>
  </div>
</section>
