<section class="advantages section">
  <div class="container">
    <h2 class="advantages-title">Що ти отримаєш?</h2>
    <div class="advantages-content">
      <div class="advantages-list">
        <ol>
          <li>Унікальну методику викладання, що не має аналогів у світі</li>
          <li>Індивідуальний підхід до навчання з урахуванням твоїх потреб</li>
          <li>
            Комфортну та приємну робочу атмосферу, що базується на повазі та
            довірі
          </li>
          <li>Постійний доступ до всіх навчальних матеріалів</li>
          <li>Персональну підтримку та супровід у досягненні твоїх цілей</li>
        </ol>
      </div>
      <div class="advantages-image">
        <img
          src="../img/adv.jpg"
          srcset="../img/adv.jpg, ../img/advx2.jpg"
          alt="chess match"
          width="612"
          height="407"
        />
      </div>
    </div>
  </div>
</section>