<div class="container">
    <div class="wrapper">
      <div class="logo-block">
        <img src="/img/logo.svg" alt="" class="logo" />
        <p class="logo-paragraph">
          FIDE Instructor Dhanesh Shrikhande Started His Coaching Career In 1991.
          He Has Been An Active Player As The University Champion And State Junior
          Champion.
        </p>
      </div>
      <div>
        <h4 class="quick-links-header">QUICK LINKS</h4>
        <ul class="quick-links-list">
          <li class="quick-link-item"><a href="#">HOME</a></li>
          <li class="quick-link-item"><a href="#">ABOUT ME</a></li>
          <li class="quick-link-item"><a href="#">FAQ</a></li>
          <li class="quick-link-item"><a href="#">CONTACTS</a></li>
        </ul>
      </div>
      <div>
        <h4 class="contactus-header">CONTACT US</h4>
        <ul class="contactus-list">
          <li class="contactus-item">
            <svg width="21px" height="21px">
              <use href="/img/sprite.svg#icon-Phone"></use>
            </svg>
            <a href="tel:+380637251418">+380637251418</a>
          </li>
          <li class="contactus-item">
            <svg width="21px" height="21px">
              <use href="/img/sprite.svg#icon-Whatsapp"></use>
            </svg>
            <a href="tel:+380637251418">+380637251418</a>
          </li>
          <li class="contactus-item">
            <svg width="21px" height="21px">
              <use href="/img/sprite.svg#icon-Viber"></use>
            </svg>
            <a href="tel:+420774140725">+420774140725</a>
          </li>
          <li class="contactus-item">
            <svg width="21px" height="21px">
              <use href="/img/sprite.svg#icon-Telegram"></use>
            </svg>
            <a href="tel:+380637251418">+380637251418</a>
          </li>
          <li class="contactus-item">
            <svg width="21px" height="21px">
              <use href="/img/sprite.svg#icon-Mail"></use>
            </svg>
            <a class="footer-mail" href="mailto:mturoman@gmail.com"
              >mturoman@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  
    <div class="copyrights-wrapper">
        <p class="copyrights">
          &#169; 2025 - All Rights Reserved &#124; Created By <a
            >Сommercial Team Project</a
          >
        </p>
    </div>
  </div>
  