<div class="container">
  <nav class="navigation">
    <a href="/" class="logo-link">
      <img
        class="logo-img"
        src="/img/logo.svg"
        alt="Roman Sakovsky logo"
        width="128"
        height="74"
      />
    </a>
    <ul class="menu">
      <li class="menu-item"><a class="link menu-link" href="/">Домашня</a></li>
      <li class="menu-item">
        <a class="link menu-link" href="/faq">Про мене</a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="/testimonials">Історії успіхів</a>
      </li>
      <li class="menu-item">
        <a class="link menu-link" href="/contacts">Зв'язанся з нами</a>
      </li>
    </ul>
  </nav>

  <div class="lang-selector">
    <button class="lang" type="button">
      <img
        class="lang-flag"
        src="/img/langs/UA.png"
        alt="UA"
        width="56"
        height="20"
      />
    </button>
    <ul class="lang-list">
      <li class="lang-item current" data-lang="UA">
        <img
          class="lang-flag"
          src="/img/langs/UA.png"
          alt="UA"
          width="56"
          height="20"
        />
      </li>
      <li class="lang-item" data-lang="EN">
        <img
          class="lang-flag"
          src="/img/langs/EN.png"
          alt="EN"
          width="56"
          height="20"
        />
      </li>
      <li class="lang-item" data-lang="RU">
        <img
          class="lang-flag"
          src="/img/langs/RU.png"
          alt="RU"
          width="56"
          height="20"
        />
      </li>
    </ul>
  </div>
  <button class="btn">Забрати бонус</button>
</div>
