<div class="container">
  <ul>
    <li>
      Lorem <a href="">ipsum dolor sit amet consectetur</a> adipisicing elit.
      Dignissimos fuga quas corporis assumenda beatae. Aut soluta, sed, nisi
      illum minus assumenda modi quos, eveniet
      <span>sint consequatur placeat perspiciatis</span>
      consectetur? Sed.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fuga
      quas corporis assumenda beatae. Aut soluta, sed, nisi illum minus
      assumenda modi quos, eveniet sint consequatur placeat perspiciatis
      consectetur? Sed.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fuga
      quas corporis assumenda beatae. Aut soluta, sed, nisi illum minus
      assumenda modi quos, eveniet sint consequatur placeat perspiciatis
      consectetur? Sed.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fuga
      quas corporis assumenda beatae. Aut soluta, sed, nisi illum minus
      assumenda modi quos, eveniet sint consequatur placeat perspiciatis
      consectetur? Sed.
    </li>
  </ul>
</div>
