<section class="section level-section">
  <div class="container level-container">
    <ul class="level-list">
      <li class="level-list-item">
        <div class="level-icon-container">
          <svg class="level-item-icon" width="40" height="40">
            <use href="/img/sprite.svg#icon-Pawn"></use>
          </svg>
        </div>
        <p class="level-item-text">
          Ти новачок і тобі цікаво зрозуміти основи гри?
        </p>
      </li>
      <li class="level-list-item">
        <div class="level-icon-container">
          <svg class="level-item-icon" width="40" height="40">
            <use href="/img/sprite.svg#icon-Horse"></use>
          </svg>
        </div>
        <p class="level-item-text">
          Ти вже не початківець, але не знаєш як розвиватися далі?
        </p>
      </li>
      <li class="level-list-item">
        <div class="level-icon-container">
          <svg class="level-item-icon" width="40" height="40">
            <use href="/img/sprite.svg#icon-Bishop"></use>
          </svg>
        </div>
        <p class="level-item-text">
          Ти непоганий гравець і хотів би поборотися за перші трофеї?
        </p>
      </li>
      <li class="level-list-item">
        <div class="level-icon-container">
          <svg class="level-item-icon" width="40" height="40">
            <use href="/img/sprite.svg#icon-Rook"></use>
          </svg>
        </div>
        <p class="level-item-text">
          Ти вже досвідчений шахіст, але ще не маєш серйозних досянень?
        </p>
      </li>
      <li class="level-list-item">
        <div class="level-icon-container">
          <svg class="level-item-icon" width="40" height="40">
            <use href="/img/sprite.svg#icon-Queen"></use>
          </svg>
        </div>
        <p class="level-item-text">
          Можливо ти хочеш спробувати себе у якості тренера?
        </p>
      </li>
    </ul>
    <div class="level-picture">
      <picture class="level-image">
        <source
          srcset="img/level/level_chess-min.jpg 1x, img/level_chess@2x.jpg 2x"
        />
        <img
          src="img/level/level_chess-min.jpg"
          alt="Шахи"
          width=""
          height=""
        />
      </picture>
    </div>
  </div>
  <button class="btn" type="button">визначити свій рівень</button>
  <script type="module" src="../js/level.js"></script>
</section>
