<section class="section-skills">
  <div class="container-skills">
    <h2 class="skills-title">А також ти зможеш прокачати</h2>
    <div class="skills-cont">
      <img
        src="../img/skills/skills-1x.jpg"
        alt="ddd"
        width="587"
        height="516"
      />
      <ul class="skills-list">
        <li class="skills-list-item">
          Тактичні навики <span class="skills-list-item-percent">90%</span>
        </li>
        <li class="skills-list-item">
          Стратегічне мислення <span class="skills-list-item-percent">80%</span>
        </li>
        <li class="skills-list-item">
          Глибинний аналіз та оцінку позиції
          <span class="skills-list-item-percent">75%</span>
        </li>
        <li class="skills-list-item">
          Теоретичну базу <span class="skills-list-item-percent">95%</span>
        </li>
        <li class="skills-list-item">
          Багаторівневий розрахунок варіантів
          <span class="skills-list-item-percent">80%</span>
        </li>
        <li class="skills-list-item">
          Способи реалізації переваги
          <span class="skills-list-item-percent">90%</span>
        </li>
        <li class="skills-list-item">
          Техніку ендшпіля <span class="skills-list-item-percent">95%</span>
        </li>
      </ul>
    </div>
    <button class="skills-btn button">прокачати свій скіл</button>
  </div>
</section>
