<section class="section-study">
  <div class="container study-container">
    <h2 class="study-title">Переваги навчання ONLINE</h2>
    <ul class="study-list">
      <li class="study-list-item">
        <p class="study-list-item-description">1. Гнучкий графік</p>
        <p class="study-list-item-text">
          Не обов'язково займатись за чітким розкладом, як у школі. Ти можеш
          обирати та змінювати свій час згідно власних потреб.
        </p>
      </li>
      <li class="study-list-item">
        <p class="study-list-item-description">
          2. Можливість грати проти необмеженої кількості суперників з усього
          світу
        </p>
        <p class="study-list-item-text">
          Це дає змогу отримані знання відразу ж випробувати на практиці,
          обираючи суперників свого рівня.
        </p>
      </li>
      <li class="study-list-item">
        <p class="study-list-item-description">3. Можливість запису занять</p>
        <p class="study-list-item-text">
          Ти можеш зробити запис уроку і в будь-який момент повторити пройдений
          матеріал.
        </p>
      </li>
      <li class="study-list-item">
        <p class="study-list-item-description">
          4. Максимальна зручність та комфорт
        </p>
        <p class="study-list-item-text">
          Навчайся вдома, на відпочинку чи на природі. Створюй для себе таку
          атмосферу, яку забажаєш. Без відволікаючих факторів та прив'язки до
          конкретного місця.
        </p>
      </li>
      <li class="study-list-item">
        <p class="study-list-item-description">
          5. Моментальний доступ до інформації
        </p>
        <p class="study-list-item-text">
          В роботі онлайн ми маємо змогу користуватися величезними базами даних,
          що дає змогу в кілька кліків отримати доступ практично до будь-якої
          партії за всю історію шахів.
        </p>
      </li>
      <li class="study-list-item">
        <p class="study-list-item-description">
          6. Максимально точний комп'ютерний аналіз позицій
        </p>
        <p class="study-list-item-text">
          Без використання комп'ютерного аналізу зараз не працює жоден топовий
          гросмейстер. Це основа основ.
        </p>
      </li>
    </ul>
    <h2 class="study-second-title">
      У результаті - значно вища ефективність при значно менших затратах часу!
    </h2>
    <button class="study-btn" type="button">Обрати свій формат</button>
  </div>
</section>
