<section class="section-testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-title">Що кажуть учні</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <p class="comment">
          Нам з сином дуже подобається наш тренер Саковський Роман Вікторович.
          Його уроки з шахів дуже цікаві та надають мотивацію. А година по шахам
          - найулюбленіший час гри та розвитку! Рекомендую нашого тренера всім!
        </p>
        <p class="comment-name">Вікторія</p>
        <p class="comment-city">Київ, Україна</p>
      </li>
      <li class="testimonials-item">
        <p class="comment">
          Роман зрозуміло усе розповідає. Навчання завжди цікаві та повчальні.
          Професійна людина, з якою приємно працювати. Раджу усім!
        </p>
        <p class="comment-name">Tetiana</p>
        <p class="comment-city">Львів, Україна</p>
      </li>
      <li class="testimonials-item">
        <p class="comment">
          Велике спасибі Роману. Дуже професійний педагог! Ніколи не думала, що
          онлайн-уроки можуть бути настільки захоплюючими та корисними! За
          кілька занять син вивчив усі постаті і вже може самостійно розпочати
          партію. Головне, що син чекає з нетерпінням урок. Заняття проходять
          позитивно та ефективно!
        </p>
        <p class="comment-name">Tetiana</p>
        <p class="comment-city">Львів, Україна</p>
      </li>
      <li class="testimonials-item">
        <p class="comment">
          Тренер сподобався. Має досвід роботи та цікаву методику викладання.
          Заняття проходили ефективно та мали результат. Рекомендую.
        </p>
        <p class="comment-name">Юрій</p>
        <p class="comment-city">Україна</p>
      </li>
    </ul>
    <a href="#" class="button-testimonials">Більше відгуків</a>
  </div>
</section>
