/*Styles for section about*/
@import 'mixins';
@import './base.scss';

.section {
}
.container {
}
.about-title {
  @include sectionTitle;
  margin-bottom: 24px;
}
.about {
  display: flex;
  align-items: center;
  gap: 60px;
}
.about-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.about-content {
}
.about-list {
}
.about-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.about-icon-container {
  display: flex;
  align-items: center;
}
.about-text {
  @include mainFont;
}

.about-statistics {
  display: flex;
  display: flex;
  gap: 60px;
  text-align: center;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 50px;
}

.stat-label {
  font-size: 14px;
}

.btn {
  @include button;
}
