/*Styles for section header*/
@import 'mixins';
@import './base.scss';

.header-section {
  background-color: #1b1b1b;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .navigation {
    display: flex;
    gap: 71px;
    margin: 15px 0;
  }

  .menu {
    display: flex;
    // align-items: stretch;
    gap: 46px;
  }
}

.btn {
  @include button;
}

.logo {
  color: $color-white;
}

.menu-link {
  @include link;
  padding: 25px 0;
}

.link:hover {
  color: $hover-link;
}

.btn:hover {
  background-color: $hover-link;
}

.lang-selector {
  color: $color-white;
  background-color: transparent;
  border: none;
}

.lang-var {
  background-color: transparent;
}

// body {
//   margin: 0;
// }
