@import url('./reset.scss');
@import url('./base.scss');
@import url('./container.scss');
@import url('./header.scss');
@import url('./advantages.scss');
@import url('./about.scss');
@import url('./hero.scss');
@import url('./level.scss');
@import url('./skills.scss');
@import url('./testimonials.scss');
@import url('./study.scss');
@import url('./footer.scss');

@import url('./partials/answers.scss');
@import url('./contacts.scss');
